
 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <title>abc bank</title>
   
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dp3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dp2.css')}}">
    <script src="{{ url_for('static',filename='js/jspage.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="src/jquery.table2excel.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="src/jquery.table2excel.js"></script>
    <script src="jquery.tableToExcel.js"></script>
    
<style>
table
{
border: 1px solid black;
width:100%;
text-align: center;
border-collapse:collapse;
background-color:orange;
}
table { margin:0px; }
</style>
  </head>
  <body>
  
<script>
    var error = '{{ er }}';
    if(error){
    	alert(error)}
  </script>

      <header>

          
          <p style="font-size:55px;font-weight:bold;width:80%;left:10%;text-align:center;color:black;">
            Banking Dashboard</p>



      </header>

      <section class="boxcontainer">
        <div class="side-nav">
          <nav >
            <ul>
              <li class="active">
                <div class="nav1" style="font-weight:bold;font-size:120%;">

                 <p>Welcome {{welcome}}</p>
                </div>
              </li>
<li class="active">

  <!--span><button onclick="document.getElementById('customer').style.display='block'" style="width:auto;">Customer Management
              </button><span>
  <span><button onclick="document.getElementById('account').style.display='block'" style="width:auto;">Account Management
              </button><span-->
   <span><form action="/customeraccstatus" method="post"><button type="submit" >Status Detials</button></form> </span>
             
  
              
              
              

<span><form action="/logout" method="post"><button type="submit" name="lout">logout</button></form> </span>

               </li></ul>
           </nav>

        </div>

		<div class="main-content">

           <div class="title">
              <label>data</label>
            
	<div class="options"> </div>
	<div class="main">
                           <div class="widget">
                           <div id="images">
                           
                           
                           <section id="customer">
                          <label ><b>CUSTOMER MANAGEMENT</b></label> <br><br>
	  <span><button onclick="document.getElementById('newcustomer').style.display='block'" style="width:auto;">New Customer
              </button><span>
              <span><button onclick="document.getElementById('searchcustomer').style.display='block'" style="width:auto;">Search Customer
              </button><span>
<span><button onclick="updatecus()" style="width:auto;">Update Customer</button></span>

 <span><button onclick="deletecus()" style="width:auto;">Delete Customer
              </button><span>
              
              
               </section><br><br>
   
   <section id="account">
      <label ><b>ACCOUNT MANAGEMENT AND OPERATION</b></label><br><br>
   <span><button onclick="document.getElementById('addaccount').style.display='block'" style="width:auto;">Create Account</button></span>

 <span><button onclick="document.getElementById('deleteaccount').style.display='block'" style="width:auto;">Delete Account
              </button><span>
  <span><button onclick="document.getElementById('searchaccount').style.display='block'" style="width:auto;">Search Account
              </button><span>
              
              <span><button onclick="servicesbut()" style="width:auto;">Services
              </button><span>
   
  <span><button onclick="viewbut()" style="width:auto;">View
              </button><span>
    
  </section>
   
<br><br>
    
    
      <section id="statusdetials">
    <label ><b>STATUS</b></label> <br><br>
   
    <span><button onclick="AS()" style="width:auto;">Account Status</button></span>

 <span><button onclick="CS()" style="width:auto;">Customer Status
              </button><span>
   
  
  
  
  
    </section>
    
    
    
			</div>
			</div>
			</div>
			</div>
  
   <div class="dropdown-content">
   
            <div id="newcustomer" class="modal">
                     <form class="modal-content animate" action="/addncus" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('newcustomer').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                   <label for="ssn"><b>SSN ID</b></label>
                 <input type="text" placeholder=" Enter 9 digit number SSN ID" name="ssn" id="usssn" required>
                   
           
                 <label for="name"><b>Name</b></label>
                 <input type="text" placeholder=" Enter Name of Customer" name="name" required>
                  <label for="age"><b> Age</b></label>
                  <input type="text" placeholder=" Enter Age of Customer " name="age" required>
                  <label for="addressl1"><b> Address Line 1</b></label>
                  <input type="text" placeholder=" Enter address " name="addressl1" required>
                   <label for="addressl2"><b> Address Line 2</b></label>
                  <input type="text" placeholder=" Enter address " name="addressl2" required>
                 <label for="state"><b>State</b></label>
                 <select name="state">
                           <option value="karnataka">Karnataka</option>
                           <option value="maharastra">Maharastra</option>
                           <option value="goa">Goa</option>
                           <option value="kerala">Kerala</option>
                 </select>
                 <label for="city"><b>City</b></label>
                  <select name="city">
                           <option value="bengalore">Bengalore</option>
                           <option value="pune">Pune</option>
                           <option value="panaji">Panaji</option>
                           <option value="kochi">Kochi</option>
                           <option value="mangalore">Mangalore</option>
                 </select>

                 
                 <button type="submit">Submit</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('newcustomer').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
     
        
   <div class="dropdown-content">
   
            <div id="updatecustomer" class="modal">
                     <form class="modal-content animate" action="/updatecus" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('updatecustomer').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>
           

                  <div class="container">
                
                  
      
  
                 <label><b>Customer SSN ID:</b> <b>{{cssid}}</b></label><br><br>
                  <label><b>Customer ID:</b> <b>{{cusid}}</b></label><br><br>
                  <label><b>Customer Old Name:</b> <b>{{cname}}</b></label><br><br>
                  
                 <label for="name"><b>Customer New Name</b></label>
                 <input type="text" placeholder=" Enter Name of Customer" name="name" required><br><br>
                 <label><b>Customer Old Age:</b> <b>{{cage}}</b></label><br><br>
                  <label for="age"><b> Age</b></label>
                  <input type="text" placeholder=" Enter New Age of Customer " name="age" required><br><br>
                  <label><b>Customer Old Address:</b> <b>{{cadd}}</b></label><br><br>
                  <label for="address"><b>  Enter New Address</b></label>
                  <input type="text" placeholder=" Enter new address " name="address" required>
             
                 <button type="submit">Submit</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('updatecustomer').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
  
  
  
  
  
  
  
   <div class="dropdown-content">
   
            <div id="deletecustomer" class="modal">
                     <form class="modal-content animate" action="/deletecustomer" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('deletecustomer').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                 
                 
             
             <label><b>Customer SSN ID:</b> <b>{{cssid}}</b></label><br><br>
                  <label><b>Customer ID:</b> <b>{{cusid}}</b></label><br><br>
                  <label><b>Customer  Name:</b> <b>{{cname}}</b></label><br><br>
                  <label><b>Customer  Age:</b> <b>{{cage}}</b></label><br><br>
                  <label><b>Customer  Address:</b> <b>{{cadd}}</b></label><br><br>
             
       
                 <button type="submit">Delete</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('deletecustomer').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
  
  
 <div class="dropdown-content">
   
            <div id="addaccount" class="modal">
                     <form class="modal-content animate" action="/addaccount" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('addaccount').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                 
                 
                 
                  <label for="cid"><b>Enter the CUSTOMER ID</b></label>
                 <input type="text" placeholder=" Enter Customer ID" name="cid" required>
                 <br><br>
                <label for="acctype"><b>Enter the Account type</b></label>
                 <select name="acctype">
                           <option value="Saving">Saving</option>
                           <option value="current">Current</option>
                           
                 </select>
                 <br><br>
                  <label for="acctype"><b>Enter the Deposit Amount</b></label>
                  <input type="text" placeholder=" Enter Amount" name="amount" required>
                
       <br><br>
                 <button type="submit">Create Account</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('addaccount').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
 
 <div class="dropdown-content">
   
            <div id="deleteaccount" class="modal">
                     <form class="modal-content animate" action="/deleteaccount" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('deleteaccount').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                 
                 <label for="cid"><b>Enter the CUSTOMER ID</b></label>
                 <input type="text" placeholder=" Enter Customer ID" name="cid" required>
                 
                  <label for="aid"><b>Enter the Account ID</b></label>
                 <input type="text" placeholder=" Enter account ID" name="aid" required>
                 
                <label for="acctype"><b>Enter the Account type</b></label>
                 <select name="acctype">
                           <option value="Saving">Saving</option>
                           <option value="current">Current</option>
                           
                 </select>
                 
                
       
                 <button type="submit">Delete Account</button>
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('deleteaccount').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
  
   
  
 <div class="dropdown-content">
   
            <div id="searchcustomer" class="modal">
                     <form class="modal-content animate" action="/searchcustomer" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('searchcustomer').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                 
                 
                 
                  <label for="cid"><b>Enter the CUSTOMER ID</b></label>
                 <input type="text" placeholder=" Enter Customer ID" name="cid" required>
                 
                  
                 
                <label for="ssnid"><b>Enter the SSN ID</b></label>
               <input type="text" placeholder=" Enter Customer ID" name="ssnid" required>
                 
                
       
                 <button type="submit">Search</button>
                 
                      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('searchcustomer').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div> 
    
      
  
   
   
      
  
 <div class="dropdown-content">
   
            <div id="accountstatus" class="modal">
                     <div class="modal-content animate">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('accountstatus').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                   
                   {% if adata %}
                   <table border='1'>
        <tr><th> Account ID</th><th>Customer ID </th><th>Balance</th><th>Account type</th><th>Message</th><th>last Updated</th></tr>
       {% for item in adata %}
        <tr>

               <td>{{item[0]}}</td>
               <td>{{item[1]}}</td>
               <td>{{item[2]}}</td>
               <td>{{item[3]}}</td>
               <td>{{item[4]}}</td>
               <td>{{item[5]}}</td>

          </tr>
{% endfor %} 
              
    </table>
                 
           
           {% else %}
    <p>plz click on status </p>            
                 
         {% endif %}   
           
           
            
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('accountstatus').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </div>

		    </div>
        </div> 
    
    
   
 <div class="dropdown-content">
   
            <div id="customerstatus" class="modal">
                     <div class="modal-content animate">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('customerstatus').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                    
                      {%if(cdata)%}
                   <table border='1'>
        <tr><th>SSN ID</th><th>Customer ID</th><th>Message</th><th>last Updated</th></tr>
        {% for item in cdata %}
        <tr>
               <td>{{item[0]}}</td>
               <td>{{item[1]}}</td>
               <td>{{item[2]}}</td>
               <td>{{item[3]}}</td>
               
    
          </tr>
{% endfor %} 
    </table>
    {% else %}
    <p>plz click on status</p>            
                 
         {% endif %} 
                   
                
                  
       
                 
                
      
                 
                 
                 
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('customerstatus').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </div>

		    </div>
        </div>  
        
 <div class="dropdown-content">
   
            <div id="searchaccount" class="modal">
                     <form class="modal-content animate" action="/searchaccount" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('searchaccount').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                                  

                <label for="aid"><b>Enter the Account ID</b></label>
             <input type="text" placeholder=" Enter Account ID" name="aid" required>
                 
                
       
           
     
   
                 
                 
                 
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('searchaccount').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
                
        
        
                
 <div class="dropdown-content">
   
            <div id="view" class="modal">
                <div class="modal-content animate" >    
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('view').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                                  

                <label for="aid"><b>ABC Bank servies</b></label>    
                 
                 
                 
                 {%if(data)%}
                 
                 

   
   

                                  
                   <table border='1' id="htmlexportPDF">
        <tr><th> Transcation ID</th><th>Amount </th><th>Description</th><th>Date</th></tr>
        {% for item in data %}
        <tr>

               <td>{{item[0]}}</td>
               <td>{{item[1]}}</td>
               <td>{{item[2]}}</td>
               <td>{{item[3]}}</td>

          </tr>
           {% endfor %} 

    </table>
                 
                 
                 
   
       <button id="cmd">Export PDF</button> <!--button id="eet"><a>Export Excel</a></button-->  
    {% else %}
    <p>plz give Proper Details in services and in Transition</p>            
                 
         {% endif %}              
                 
             
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('view').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>  </div>
  

		    </div>
        </div> 
        
        
        
        
        
        
        
        
          
        
        
        
        
        
        
                
 <div class="dropdown-content">
   
            <div id="abccusservice" class="modal">
                <div class="modal-content animate" >    
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('abccusservice').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                                  

                <label for="aid"><b>ABC Bank servies</b></label>
             
                 
                
       
           
     
    <span><button onclick="document.getElementById('depositmoney').style.display='block'" name="depositm" style="width:auto;">Deposit Money</button></span>

 <span><button onclick="document.getElementById('withdrawmoney').style.display='block'" name="withtdm" style="width:auto;">Withdraw Money
              </button><span>
  <span><button onclick="document.getElementById('transfermoney').style.display='block'" name="transferm" style="width:auto;">Transfer Money
              </button><span>
              
      <span><button onclick="document.getElementById('accountstatement').style.display='block'"  name="accstatement" style="width:auto;">Account Statement
              </button><span>
   
                 
                       
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('abccusservice').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>  </div>
  

		    </div>
        </div> 
        
        
        
        
        
        
        
        
  
   <div class="dropdown-content">
   
            <div id="depositmoney" class="modal">
                     <form class="modal-content animate" action="/depositmoney" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('depositmoney').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                  
                  <label><b>Customer ID:</b> <b>{{cid}}</b></label><br><br>
                  <label><b>Account ID:</b> <b>{{aid}}</b></label><br><br>
                  <label><b>Account Type:</b> <b>{{at}}</b></label><br><br>
                  
                  <label><b>Balance:</b> <b>{{bal}}</b></label><br><br>
                    <label for="ssnid"><b>Enter the Amount to Deposit:</b></label>
               <input type="text" placeholder=" Enter amount" name="amt" required>
             
        <button type="submit">Submit</button>
                  
                 
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('depositmoney').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
  
  
  
     <div class="dropdown-content">
   
            <div id="withdrawmoney" class="modal">
                     <form class="modal-content animate" action="/withdrawmoney" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('withdrawmoney').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                   <label><b>Customer ID:</b> <b>{{cid}}</b></label><br><br>
                  <label><b>Account ID:</b> <b>{{aid}}</b></label><br><br>
                  <label><b>Account Type:</b> <b>{{at}}</b></label><br><br>
                  
                  <label><b>Balance:</b> <b>{{bal}}</b></label><br><br>
                    <label for="ssnid"><b>Enter the Amount to Withdraw:</b></label>
               <input type="text" placeholder=" Enter amount" name="amt" required>
                  
                  <button type="submit">Submit</button>
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('withdrawmoney').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
        
        
   <div class="dropdown-content">
   
            <div id="transfermoney" class="modal">
                     <form class="modal-content animate" action="/transfermoney" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('transfermoney').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                 
                  <label for="cid"><b>Enter the Account ID to Transfer</b></label>
                 <input type="text" placeholder=" Enter  ID" name="cid" required>
                 <br><br>
                <label for="acctype"><b>Enter the Account Source type</b></label>
                 <select name="acctype">
                           <option value="Saving">Saving</option>
                           <option value="current">Current</option>
                           
                 </select>
                  <br><br>
                  <label for="acctype"><b>Enter the Account Target type</b></label>
                 <select name="acctype">
                           <option value="Saving">Saving</option>
                           <option value="current">Current</option>
                           
                 </select>
                 <br><br><br>
                 <label for="ssnid"><b>Enter the Amount to Transfer:</b></label>
               <input type="text" placeholder=" Enter amount" name="amt" required>
                 
                   <button type="submit">Submit</button>
                 
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('transfermoney').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
        
        
    <div class="dropdown-content">
   
            <div id="accountstatement" class="modal">
                     <form class="modal-content animate" action="/accountstatement" method="post" autocomplete="off">
                   <div class="imgcontainer">
                  <span onclick="document.getElementById('accountstatement').style.display='none'" class="close" title="Close ">&times;</span>
     
                   </div>

                  <div class="container">
                  
                  <label><b>Account ID:</b> <b>{{aid}}</b></label><br><br>
                  
                  <label for="startdate"><b>Start Date:</b></label>
               <input type="date" placeholder=" Enter date" name="startdate" required>
               <label for="lastdate"><b>Start Date:</b></label>
               <input type="date" placeholder=" Enter last date" name="lastdate" required>
                 
                  
             <button type="submit">Submit</button>     
                
      
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('accountstatement').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>
  </form>

		    </div>
        </div>
        
       
  
  
  
  <script type='text/javascript'>
   
    $(function(){
         var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

 /*  $("#eet").click(function(){
	  $("#htmlexportPDF").table2excel({
	    
	    name: "Worksheet Name",
	    filename: "SomeFile",
	    fileext: ".xls" 
	  });
	});*/
   
   $("#eet").click(function(){ 
 var table = document.getElementById("htmlexportPDF");
  var html = table.outerHTML;
  var url = 'data:application/vnd.ms-excel,' + escape(html); // Set your html table into url 
  document.getElementById("htmlexportPDF").setAttribute("href", url);
  document.getElementById("htmlexportPDF").setAttribute("download", "export.xls"); // Choose the file name
  return false;
}); 
   
   
   
 $('#cmd').click(function () {
        var table = tableToJson($('#htmlexportPDF').get(0))
        var doc = new jsPDF('p','pt', 'a3', true);
        doc.cellInitialize();
        $.each(table, function (i, row){
            console.debug(row);
            $.each(row, function (j, cell){
                doc.cell(10, 50,200, 50, cell, i);  // 2nd parameter=top margin,1st=left margin 3rd=row cell width 4th=Row height
            })
        })


        doc.save('sample-file.pdf');
});    
    function tableToJson(table) {
    var data = [];

    // first row needs to be headers
    var headers = [];
    for (var i=0; i<table.rows[0].cells.length; i++) {
        headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
    }


    // go through cells
    for (var i=0; i<table.rows.length; i++) {

        var tableRow = table.rows[i];
        var rowData = {};

        for (var j=0; j<tableRow.cells.length; j++) {

            rowData[ headers[j] ] = tableRow.cells[j].innerHTML;

        }

        data.push(rowData);
    }       

    return data;
}
});
   


        </script>
  
  
      </section>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
     <script>  
      
      var modal1 = document.getElementById('newcustomer');
window.onclick = function(event) {
    if (event.target == modal1) {
        modal.style.display = "none";
    }
}
var modal2 = document.getElementById('updatecustomer');

window.onclick = function(event) {
    if (event.target == modal2) {
        modal.style.display = "none";
    }
}


function servicesbut(){ 
    var val ='{{vala}}';
    console.log(val)
    if(val){
    alert("plz update the account id")
    document.getElementById('abccusservice').style.display='none'
    	}
    else {
    document.getElementById('abccusservice').style.display='block'
    }
    }


function viewbut(){ 
    var val ='{{vala}}';
    console.log(val)
    if(val){
    alert("plz update the account id")
    document.getElementById('view').style.display='none'
    	}
    else {
    document.getElementById('view').style.display='block'
    }
    }






function CS(){ 
    var val ='{{vals}}';
    console.log(val)
    if(val){
    alert("plz click on the status details")
    document.getElementById('customerstatus').style.display='none'
    	}
    else {
    document.getElementById('customerstatus').style.display='block'
    }
    }
    
  function AS(){ 
    var val ='{{vals}}';
    console.log(val)
    if(val){
    alert("plz click on the status details")
    document.getElementById('accountstatus').style.display='none'
    	}
    else {
    document.getElementById('accountstatus').style.display='block'
    }
    }




function updatecus(){ 
    var val ='{{val}}';
    console.log(val)
    if(val){
    alert("plz update the customer id")
    document.getElementById('updatecustomer').style.display='none'
    	}
    else {
    document.getElementById('updatecustomer').style.display='block'
    }
    }
function deletecus(){ 
    var val ='{{val}}';
    console.log(val)
    if(val){
    alert("plz update the customer id")
    document.getElementById('deletecustomer').style.display='none'
    	}
    else {
    document.getElementById('deletecustomer').style.display='block'
    }

}
var modal3 = document.getElementById('deletecustomer');

window.onclick = function(event) {
    if (event.target == modal3) {
        modal.style.display = "none";
    }
}
        
    
  


var modal4 = document.getElementById('addaccount');

window.onclick = function(event) {
    if (event.target == modal4) {
        modal.style.display = "none";
    }
}


var modal5 = document.getElementById('deleteaccount');

window.onclick = function(event) {
    if (event.target == modal5) {
        modal.style.display = "none";
    }
}



var modal6 = document.getElementById('searchcustomer');

window.onclick = function(event) {
    if (event.target == modal6) {
        modal.style.display = "none";
    }
}


var modal7 = document.getElementById('accountstatus');

window.onclick = function(event) {
    if (event.target == modal7) {
        modal.style.display = "none";
    }
}

var modal8 = document.getElementById('customerstatus');

window.onclick = function(event) {
    if (event.target == modal8) {
        modal.style.display = "none";
    }
}

var modal9 = document.getElementById('searchaccount');

window.onclick = function(event) {
    if (event.target == modal9) {
        modal.style.display = "none";
    }
}

var modal10 = document.getElementById('depositmoney');

window.onclick = function(event) {
    if (event.target == modal10) {
        modal.style.display = "none";
    }
}

var modal11 = document.getElementById('withdrawmoney');

window.onclick = function(event) {
    if (event.target == modal11) {
        modal.style.display = "none";
    }
}

var modal12 = document.getElementById('transfermoney');

window.onclick = function(event) {
    if (event.target == modal12) {
        modal.style.display = "none";
    }
}
var modal13 = document.getElementById('accountstatement');

window.onclick = function(event) {
    if (event.target == modal13) {
        modal.style.display = "none";
    }
}
var modal13 = document.getElementById('abccusservice');

window.onclick = function(event) {
    if (event.target == modal13) {
        modal.style.display = "none";
    }
}
var modal13 = document.getElementById('view');
window.onclick = function(event) {
    if (event.target == modal13) {
        modal.style.display = "none";
    }
}



      
      
    </script>   
      
      
      


  </body>

</html>
